.header {
	margin-top: -150px;
	animation: header 1s linear 0.3s forwards;
}

@keyframes header {
	0% {
		margin-top: -120px;
	}
	25% {
		margin-top: -90px;
	}
	50% {
		margin-top: -60px;
	}
	75% {
		margin-top: -30px;
	}
	100% {
		margin-top: 0px;
	}
}
